.admin-sidebar {
    background-color: #521cb8;
    padding: 20px 20px 20px 40px;
    min-height: 100vh;
}
.admin-sidebar i {
    margin: 0px 10px 16px 10px;
    color: #fff;
}
.admin-sidebar img {
    margin-bottom: 40px;
}
.admin-link {
    color: #fff;
    cursor: pointer;
}
.admin-link:hover {
    color: #000;
}