.manage-services-container {
    background-color: #F4F7FC;
    padding: 10px 0px 100px 50px;
}
#manage-services-table {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
}
#manage-services-table thead tr th {
    background-color: #F5F6FA;
    color: #141313;
    border: none;
    border-radius: 10px;
}
#manage-services-table tr th, td {
    text-align: start;
    padding: 10px 20px;
}
td img {
    cursor: pointer;
    width: 25px;
    margin: 0px 5px;
}
@media(max-width: 640px){
    .manage-services-container {
        padding: 20px;
    }
    #manage-services-table {
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    #manage-services-table tr th, td {
        text-align: start;
        padding: 5px;
    }
    td:last-child img:first-child{
        display: none;
    }
}