header {
    max-width: 1200px;
    margin: auto;
}
nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav div .link {
    color: #414680;
    text-decoration: none;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
nav ul li {
    margin: 20px 30px;
}
nav ul li .link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.logo {
    margin-top: -35px;
}
.login {
    background-color: #3620fb;
    color: #fff !important;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-right: -30px;
    border-radius: 3px;
    cursor: pointer;
}
.avater {
    background-color: lightgrey;
    margin-right: 20px;
    border-radius: 20px;
    padding-right: 10px;
    cursor: pointer;
}
.avater img {
    vertical-align: middle;
    height: 32px;
    border-radius: 20px;
    margin-right: 5px;
}
@media(max-width: 640px){
    .logo {
        margin: 10px 0px;
    }
    nav div {
        flex-direction: column;
        justify-content: center;
    }
    nav ul {
        justify-content:center;
    }
    nav ul li {
        margin: 0px 5px;
    }
    .login {
        margin: 0px;
    }
    .avater {
        color: #fff;
        background-color: royalblue;
        padding: 0px 10px;
    }
    .avater img {
        display: none;
    }
}