.btn-brand {
    background-color: #3620fb;
    color: #fff;
    border: none;
    outline: none;
    padding: 12px 24px;
    border-radius: 50px;
    cursor: pointer;
}
.btn-brand-primary {
    background-color: #fc3549;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
} 
.text-brand {
    color: #fc3549;
}
.star {
    color: #ffd900;
}
.order {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 20px;
    margin: 10px;
}